/* body */

/*
  prevent scroll of body when scrolling over open modal
  adapted from https://stackoverflow.com/a/11013994
*/
body.ReactModal__Body--open {
  overflow: hidden;
}

/* title bar */

.title-bar {
  text-align: center;
  padding: 0.5em;
  font-size: x-large;
  background-color: #000;
}
.title-bar a {
  color: #FFF;
  text-decoration: none;
}

/* categories */

.category-list {
  display: flex;
  justify-content: space-evenly;
  background: #BBB;
  padding: 0.5em 0;
  margin-bottom: 0.6em;
}
.category-item a {
  color: #000;
  text-decoration: none;
}
.category-item a:hover {
  text-decoration: underline;
}

.category-item.category-item-selected a {
  color: #EEE;
  text-shadow: 1px 1px #000;
  text-decoration: none;
}

/* posts */

.post-list {
  padding: 0.4em 1.25em;
  display: flex;
  flex-direction: column;
}
.post-list-sort-control {
  align-self: flex-end;
}
.post-item {
  padding: 0.75em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #DDD;
}
.post-item:last-child {
  border-bottom: none;
}
.post-vote {
  display: flex;
  flex-direction: row;
  color: #BBB;
  margin-right: 0.8em;  
}
.post-vote-score {
  font-size: large;
  font-weight: bold;
  white-space: pre;
  align-self: center;
}
.post-main {
  flex: 4;
}
.post-minor {
  display: flex;
  flex-direction: row;
}
.post-title {
  font-size: larger;
}
.post-title a {
  text-decoration: none;
  color: #444;
}
.post-title a:hover {
  text-decoration: underline;
}
.post-body {
  font-size: x-large;
  padding: 0.3em 0 0.5em 0;
}
.post-author {
  font-size: smaller;
}
.post-comment-count {
  display: inline;
  font-size: smaller;
  color: #888;
  font-weight: bold;
  margin-right: 0.5em;
}
.post-add-icon {
  position: fixed;
  bottom: 1em;
  right: 1.25em;
  font-size: xx-large;
  cursor: pointer;
  color: #444;
}
.post-add-icon:active {
  color: #000;
}
.post-add-icon:before {
  background-color: #FFF;
  border-radius: 25px;
  width: 30px;
  height: 32px;
  padding-left: 3px;
}

/* post detail */

.post-detail {
  padding: 0.4em 1.25em;
}

/* vote control */

.vote-control {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 0.25em;
  position: relative;
  top: 0.05em;
  color: #BBB;
}
.vote-icon:active {
  color: #000;
}
.vote-control:hover {
  cursor: pointer;
}

/* modify control */

.modify-control {
  margin-right: 0.25em;
  font-size: larger;
}
.edit-icon {
  margin-right: 0.5em;
  color: #444;
  cursor: pointer;
}
.edit-icon:active {
  color: #000;
}
.delete-icon {
  color: #444;
  cursor: pointer;
}
.delete-icon:active {
  color: #000;
}

/* comments */

.comments-add-new {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  padding: 0.5em 1.25em;
}
.comments-add-new-header {
  font-size: larger;
}
.comments-add-new label {
  font-size: large;
}
.comments-add-new textarea {
  height: 60px;
}
.comments-add-new textarea,
.comments-add-new input {
  font-size: medium;
  width: 50%;
  border: 1px solid #000;
}
.comment-submit {
  width: 25%;
  padding: 0.25em 0;
  margin: 0.5em 0;
  background-color: #CCC;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 5px 0;
  cursor: pointer;
  font-size: inherit;
}
.comment-submit:disabled {
  border: 1px solid rgba(0,0,0,.25)
}
.comment {
  padding: 0.5em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.comment-vote {
  display: flex;
  flex-direction: row;
  color: #BBB;
  margin-right: 0.8em;
}
.comment-vote-score {
  font-size: large;
  font-weight: bold;
  white-space: pre;
  align-self: center;
}
.comment-main {
  flex: 4;
}
.comment-author {
  font-size: smaller;
}
.comment-edit-mode {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}
.comment-edit-mode textarea {
  font-size: medium;
  height: 60px;
}
.comment-edit-mode button:hover {
  cursor: pointer;
}
.comment-edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* modal */

.modal-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.modal-header {
  text-align: center;
  font-size: x-large;
  height: 30px;
  padding: 10px 0 10px;
  background-color: #CCC;
}
.modal-body {
  flex: 1;
  text-align: center;
  font-size: x-large;
}
.modal-footer {
  text-align: center;
  height: 50px;
  font-size: x-large;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.modal-dismiss-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: large;
  color: #444;
  cursor: pointer;
}
.modal-dismiss-icon:active {
  color: #000;
}
.post-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.post-form label {
  text-align: left;
  margin: 1em 0 0 10%;
}
.post-form input,
.post-form textarea {
  border: 1px solid #000;
  font-size: large;
}
.post-form input {
  height: 20px;
  width: 70%;
}
.post-form input:disabled {
  border: none;
  pointer-events: none;
}
.post-form textarea {
  height: 100px;
  width: 70%;
}
.post-submit {
  width: 50%;
  background-color: #BBB;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 10px 0;
  cursor: pointer;
  font-size: inherit;
}
.post-submit:disabled {
  border: 1px solid rgba(0,0,0,.25)
}

/* not found */

.not-found {
  text-align: center;
}

.not-found__main-text {
  font-size: 2em;
  padding-top: 1.5em;
}

.not-found__return-to-main {
  margin-top: 1em;
}

.not-found__return-to-main a {
  color: #444;
  text-decoration: none;
}
.not-found__return-to-main a:hover {
  text-decoration: underline;
}