/* body */

/*
  prevent scroll of body when scrolling over open modal
  adapted from https://stackoverflow.com/a/11013994
*/
body.ReactModal__Body--open {
  overflow: hidden;
}

/* title bar */

.title-bar {
  text-align: center;
  padding: 0.5em;
  font-size: x-large;
  background-color: #000;
}
.title-bar a {
  color: #FFF;
  text-decoration: none;
}

/* categories */

.category-list {
  display: flex;
  justify-content: space-evenly;
  background: #BBB;
  padding: 0.5em 0;
  margin-bottom: 0.6em;
}
.category-item a {
  color: #000;
  text-decoration: none;
}

/* posts */

.post-list {
  padding: 0.4em 1.25em;
  display: flex;
  flex-direction: column;
}
.post-list-sort-control {
  align-self: flex-end;
}
.post-item {
  padding: 0.75em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #DDD;
}
.post-item:last-child {
  border-bottom: none;
}
.post-vote {
  display: flex;
  flex-direction: row;
  color: #BBB;
  margin-right: 0.8em;  
}
.post-vote-score {
  font-size: large;
  font-weight: bold;
  white-space: pre;
  align-self: center;
}
.post-vote-controls {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 0.25em;
  position: relative;
  top: 0.05em;
}
.post-vote-icon:active {
  color: #000;
}
.post-vote-controls:hover {
  cursor: pointer;
}
.post-main {
  flex: 4;
}
.post-minor {
  display: flex;
  flex-direction: row;
}
.post-title {
  font-size: larger;
}
.post-author {
  font-size: smaller;
}
.post-comment-count {
  display: inline;
  font-size: smaller;
  color: #888;
  font-weight: bold;
  margin-right: 0.5em;
}
.post-add-icon {
  position: fixed;
  bottom: 1em;
  right: 1.25em;
  font-size: xx-large;
  cursor: pointer;
  color: #444;
}
.post-add-icon:active {
  color: #000;
}
.post-add-icon:before {
  background-color: #FFF;
  border-radius: 25px;
  width: 30px;
  height: 32px;
  padding-left: 3px;
}
.post-modify-controls {
  margin-right: 0.25em;
  font-size: larger;
}
.post-edit-icon {
  margin-right: 0.5em;
  color: #444;
  cursor: pointer;
}
.post-edit-icon:active {
  color: #000;
}
.post-delete-icon {
  color: #444;
  cursor: pointer;
}
.post-delete-icon:active {
  color: #000;
}

/* modal */

.modal-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.modal-header {
  text-align: center;
  font-size: x-large;
  height: 30px;
  padding: 10px 0 10px;
  background-color: #CCC;
}
.modal-body {
  flex: 1;
  text-align: center;
  font-size: x-large;
}
.modal-footer {
  text-align: center;
  height: 50px;
  font-size: x-large;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.modal-dismiss-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: large;
  color: #444;
  cursor: pointer;
}
.modal-dismiss-icon:active {
  color: #000;
}
.new-post-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.new-post-form label {
  text-align: left;
  margin: 1em 0 0 10%;
}
.new-post-form input,
.new-post-form textarea {
  border: 1px solid #000;
  font-size: large;
}
.new-post-form input {
  height: 20px;
  width: 70%;
}
.new-post-form textarea {
  height: 100px;
  width: 70%;
}
.new-post-submit {
  width: 50%;
  background-color: #BBB;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 10px 0;
  cursor: pointer;
  font-size: inherit;
}
.new-post-submit:disabled {
  border: 1px solid rgba(0,0,0,.25)
}

/* not found */

.not-found {
  text-align: center;
}

.not-found__main-text {
  font-size: 2em;
  padding-top: 1.5em;
}

.not-found__return-to-main {
  margin-top: 1em;
}