/* title bar */

.title-bar {
  text-align: center;
  padding: 0.5em;
  font-size: x-large;
  background-color: #000;
}
.title-bar a {
  color: #FFF;
  text-decoration: none;
}

/* categories */

.category-list {
  display: flex;
  justify-content: space-evenly;
  background: #BBB;
  padding: 0.5em 0;
  margin-bottom: 0.6em;
}
.category-item a {
  color: #000;
  text-decoration: none;
}

/* posts */

.post-list {
  padding: 0.4em 1.25em;
  display: flex;
  flex-direction: column;
}
.post-list-sort-control {
  align-self: flex-end;
}
.post-item {
  padding: 1.25em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DDD;
}
.post-item:last-child {
  border-bottom: none;
}
.post-vote {
  display: flex;
  flex-direction: row;
  color: #BBB;
  margin-right: 0.8em;  
}
.post-vote-score {
  font-size: large;
  font-weight: bold;
  white-space: pre;
  align-self: center;
}
.post-vote-controls {
  display: flex;
  flex-direction: column;
  margin-left: 0.25em;
  position: relative;
  top: 0.05em;
}
.post-vote-icon:active {
  color: #000;
}
.post-vote-controls:hover {
  cursor: pointer;
}
.post-title {
  font-size: larger;
}
.post-comment-count {
  font-size: smaller;
  color: #888;
  font-weight: bold;
}
.no-posts-found {
  text-align: center;
  font-size: 1.5em;
  padding-top: 1em;
}

/* not found */

.not-found {
  text-align: center;
}

.not-found__main-text {
  font-size: 2em;
  padding-top: 1em;
}

.not-found__return-to-main {
  margin-top: 1em;
}